$eb: "EB Garamond", serif;
$lato: "Lato", sans-serif;

$pearl: #e6e1d3;
$dark-grey: #414547;
$light-grey: #6c6c6a;
$fade-pearl: rgba(230, 225, 211, 0.5);
$fade-light-grey: rgba(108, 108, 106, 0.1);

$header: #587b7e;
$background: #eae8e1;
$definition: #b3b092;
$button: #2d78c8;
$h2: $background;
$circle-1: #6a93c0;
$circle-2: #3c3c3c;
$reiki: #b3b092;
